# 系统文件
.DS_Store
Thumbs.db

# 依赖文件
node_modules/
yarn.lock
package-lock.json

# 日志文件
logs/
*.log

# 数据文件
data/

# 编译文件
api/control-go/go.sum
api/control-go/control-go.exe

# 其他
lang.py
public/electron

api/control-go/control-go.exe
api/control-go/control-go
api/control-go/test.db

build/extraResources/exe/py7073-code
build/extraResources/exe/py7073-data
build/extraResources/exe/py7073-env
build/extraResources/exe/py7074-code

out
out/

public/dist